body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

#count {
    font-size: 40px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}
